<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhh.mypetsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:configChanges="locale"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPetsApp">
        <activity
            android:name=".tessst.ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.MyPetsApp.NoActionBar" />
        <activity
            android:name=".sideBar.gallery.DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.MyPetsApp.NoActionBar" />
        <activity
            android:name=".sideBar.notes.NotesTakerActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".sideBar.reproduction.ReproductionTakerActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".sideBar.surgical.SurgicalProceduresTakerActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".sideBar.dehelmintization.ui.view.DehelmintizationTakerActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".sideBar.treatment.TreatmentsTakerActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".sideBar.vaccines.VaccinesTakerActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".NewPetActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".AboutMeActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".PetProfileActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".VetPassportActivity"
            android:configChanges="locale"
            android:exported="false"
            android:label="@string/title_activity_vet_passport" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="locale"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".AuthActivity"
            android:configChanges="locale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>